@using Dashboard.Domain.Entities
@model IEnumerable<HealthBoard>

@{
    ViewBag.Title = "HealthBoards";
}

@foreach (var h in Model)
{
    <div>
        <h3>Name: @h.HealthBoardName - @h.Description</h3>
    </div>
}

